<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zebra.scannercontrol.app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.Application"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".helpers.BackgroundSoundService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".activities.VirtualTetherSettings"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity> <!-- Allows Android v10 to use legacy storage -->
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeLight.NoActionBar">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/title_activity_home"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.ScannersActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_scanners"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activities.ConnectionHelpActivity2"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_scanner_configurations"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.NotificationsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_notifications"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.BaseActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_base">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <receiver
            android:name=".receivers.NotificationsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Actions to be handled should be registered here -->
                <action android:name="com.zebra.scannercontrol.connected" />
                <action android:name="com.zebra.scannercontrol.disconnected" />
                <action android:name="com.zebra.scannercontrol.available" />
                <action android:name="com.zebra.scannercontrol.conn.failed" />
                <action android:name="com.zebra.scannercontrol.barcode.received" />
                <action android:name="com.zebra.scannercontrol.image.received" />
                <action android:name="com.zebra.scannercontrol.video.received" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ActiveScannerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="activities.ActiveScannerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BeeperActionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.AssertActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.LEDActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.SymbologiesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.BeeperSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.AvailableScannerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_available_scanner"
            android:parentActivityName=".activities.ScannersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ScannersActivity" />
        </activity>
        <activity
            android:name=".activities.VibrationFeedback"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.BatteryStatistics"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.UpdateFirmware"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.UnPairAndRebootActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.SupportedScanners"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_supported_scanners"
            android:parentActivityName=".activities.ConnectionHelpActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ConnectionHelpActivity2" />
        </activity>
        <activity
            android:name=".activities.PairingInstructionsAll"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_pairing_instructions_all"
            android:parentActivityName=".activities.ConnectionHelpActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ConnectionHelpActivity2" />
        </activity>
        <activity
            android:name=".activities.PairingInstructionsRFD8500"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_pairing_instructions_rfd8500"
            android:parentActivityName=".activities.ConnectionHelpActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ConnectionHelpActivity2" />
        </activity>
        <activity
            android:name=".activities.FindCabledScanner"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_find_cabled_scanner"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.SampleBarcodes"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.SsaSetSymbologyActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:noHistory="true"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.ScanSpeedAnalyticsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.ImageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.IntelligentImageCaptureActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.ScaleActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_active_scanner"
            android:parentActivityName=".activities.ActiveScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zebra.scannercontrol.app.activities.ActiveScannerActivity" />
        </activity>
        <activity
            android:name=".activities.DecodeImageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>